/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

/* Estilização do menu superior da pagina e botoes */
header {
    background: hsl(209, 100%, 68%);
    color: #fff;
    padding: 10px 20px;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header ul li {
    margin: 0 15px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

header ul li a:hover {
    color: #f4f4f9;
}

/* Estilo Principal do corpo */
main {
    padding: 20px;
    text-align: center;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    margin-top: 20px;
}
 
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    gap: 10px;
}

form label {
    font-weight: bold;
}

form input, form textarea, form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background-color: #555;
}
